html,
body {
  background-color: #222222;
  font-family: monospace;
  height: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#left {
  width: 90%;
  display: flex;
  flex-direction: column;
}
#editors {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* float: left; */
  width: 100%;
  height: 20%;
}

#editors > div {
  display: flex;
  flex-direction: column;
  width: 32%;
}
#editors > div > * {
  width: 100%;
  color: #eee;
}

#editors span {
  text-transform: uppercase;
  font-weight: bold;
}
#editors span:first-child {
  text-align: center;
}
#editors textarea {
  padding: 2px 5px 2px 5px;
  background-color: #333;
  border: 0;
  height: 100%;
  white-space: pre;
  resize: none;
}

::-webkit-scrollbar {
  width: 12px;
  padding-right: 2px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}

#charts {
  width: 100%;
  height: 80%;
}
#options {
  width: 10%;
}
#chart,
#graph,
#d3graph {
  height: 100%;
}

#graph,
#d3graph {
  display: none;
}

.stream.active {
  fill: #eeb66d;
}

#popupTag,
#popupStream {
  background-color: rgba(0.2, 0.2, 0.2, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 10;
}

#popupTag .inner,
#popupStream .inner {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30%;
  padding: 15px;
}

#popupTag .inner b,
#popupStream .inner b {
  color: white;
}
#popupTag .inner input,
#popupStream .inner input {
  border: 0;
  width: 100%;
}

#popupTag .inner button,
#popupStream .inner button {
  width: 45%;
}

.interactionLine {
  stroke: orange;
  stroke-width: 3;
}
#orientationLine,
#orientationLine2 {
  stroke-width: 1;
  stroke: grey;
  color: grey;
}

#orientationLine text {
  text-anchor: end;
}

#orientationLine2 {
  visibility: hidden;
}

#sizeSlider > rect {
  fill: #888;
  stroke: black;
}
#sizeSlider > text {
  color: white;
  text-anchor: middle;
  dominant-baseline: hanging;
  font-size: bold;
}

#options {
  color: lightgrey;
}

text {
  pointer-events: none;
}

.tickCenter,
.tickTop {
  opacity: 0.95;
}

.tickCenter {
  fill: rgb(238, 238, 238);
}
.tickCenter.odd {
  fill: rgb(243, 240, 215);
}

.tickTop {
  fill: rgb(175, 183, 180);
}
.tickTop.odd {
  fill: rgb(187, 145, 154);
}

/* .tickCenter {
  fill: rgb(120, 160, 235);
}
.tickCenter.odd {
  fill: rgb(218, 164, 182);
}

.tickTop {
  fill: rgb(78, 122, 241);
}
.tickTop.odd {
  fill: rgb(214, 83, 127);
} */

/* 
.tickCenter {
  fill: rgb(110, 110, 110);
}
.tickCenter.odd {
  fill: rgb(152, 187, 159);
}

.tickTop {
  fill: rgb(110, 110, 110);
}
.tickTop.odd {
  fill: rgb(223, 118, 69);
} */
